/* CSS de Agendar Cita */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

h4 {
  text-align: center;
  font-weight: bold;
  font-family: 'Georgia', serif;
  margin: 30px 0;
  font-size: 1.5rem;
}

/* Estilizado de la tarjeta */
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
  width: 90%;
  max-width: 500px; /* Limita el ancho máximo de las tarjetas */
}

.card-header {
  background: linear-gradient(#1b1b1b, #303030, #164a41);
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px;
}

.col-md-6 {
  flex: 1 1 48%;
  margin: 10px;
  padding: 0;
}

/* Ajustar las imágenes */
.card-body img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

/* Efecto hover en imágenes */
.card-body img:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px 5px rgba(241, 178, 74, 0.7);
}

/* Estilo de los enlaces */
.card-body a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #007bff;
}

/* Contenedor */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Botones y enlaces */
a {
  text-decoration: none;
  display: block;
}

a:hover {
  color: #f1b24a;
  text-shadow: 0 0 10px rgba(77, 119, 78, 0.8), 0 0 20px rgba(22, 74, 65, 0.8);
  transform: scale(1.05);
}

/* Botones personalizados */
.btn-custom {
  background-color: white !important;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.btn-custom:hover {
  background-color: white;
  color: #f1b24a;
}

/* RESPONSIVIDAD */

/* Para pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  h4 {
    font-size: 1.2rem;
  }

  .card {
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  }

  .col-md-6 {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .card-header {
    font-size: 1rem;
    padding: 8px;
  }
}

/* Para pantallas muy pequeñas (menos de 576px) */
@media (max-width: 576px) {
  h4 {
    font-size: 1rem;
  }

  .card-body img {
    width: 100%; /* Asegúrate de que las imágenes no se desborden */
  }

  .btn-custom {
    padding: 8px 15px;
    font-size: 14px;
  }
}
