@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background:linear-gradient(#f3fff1, #cbffd3) ;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
  }
  
  

  h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
  
  }


  .form-group{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 90%;
    height: 40px;
    font-size: 15px;
    color: #000000;
  }
 

  .btn {
    background: #ffffff;
    color: #000;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    text-align: right;
    border: 2px #000000;
    transition: 0.3s ease;
  }
  
